<section class="form-container">
    <h4>New Question</h4>
    <form action="/questions/new" method="post" class="question-form">

        {{!-- <p class="input-title">
            <textarea name="title[title]" placeholder="Title"></textarea>
        </p> --}}

        <p class="input-question">
            <textarea name="questions" cols="30" rows="10" placeholder="Question"></textarea>
        </p>

        <p class="input-field">
            <input type="submit" value="Submit" class="blue">
        </p>
    </form>
</section>